@charset "utf-8";

$color-main: #3192bf;
$color-shadow: rgba(75, 154, 191, 0.9);
$color-subtext: #878787;
$border_grey: 1px solid #dbdbdb;

// mediaquery
@mixin res-1220px {
    @media (max-width: 1220px) {
        @content;
    }
}
@mixin res-1024px {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin res-960px {
    @media (max-width: 960px) {
        @content;
    }
}
@mixin res-768px {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin res-600px {
    @media (max-width: 600px) {
        @content;
    }
}
@mixin res-480px {
    @media (max-width: 480px) {
        @content;
    }
}
@mixin res-320px {
    @media (max-width: 320px) {
        @content;
    }
}

// image resolution
@mixin res-img($ratio, $dppx) {
    @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
           only screen and (min-device-pixel-ratio: $ratio),
           only screen and (min-resolution: $dppx) {
           @content
    }
}

// function
@mixin one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin n-line($line) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
}

/* layout */
body {
    background: url(../img/header_bg.jpg) repeat-x center top;
}
#header {
    
}
#nav {
    background-color: #f6fdff;
}
#title {
    background-color: #eaf7fd;
}
#contents {
    .container {
        border-right: $border_grey;
        border-left: $border_grey;
    }
    #cont {
        &_left {
            float: left;
            width: 250px;
        }
        &_center {
            overflow: hidden;
            margin-right: 250px;
            min-height: 1300px;
            border-right: $border_grey;
            border-left: $border_grey;
        }
        &_right {
            position: absolute;
            top: 0;
            right: 0;
            width: 250px;
        }
    }
    @include res-1220px {
        .container {border: 0;}
    }
    @include res-960px {
        #cont_right {
            position: static;
            width: 100%;
            border-top: $border_grey;
        }
        #cont_center {
            margin-right: 0;
            border-right: 0;
        }
    }
    @include res-768px {
        #cont_left {
            float: none;
            width: 100%;
        }
        #cont_center {
            border-left: 0;
        }
    }
}
#footer {
    border-top: $border_grey;
}

/* container */
.container {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    // background: rgba($color: #000000, $alpha: 0.1);
    @include res-1220px {width: 100%;}
}
.row {
    @include res-1220px {padding: 0 15px;}
}

/* header */
.header {
    height: 327px;
    .header_menu {
        text-align: right;
        a {
            display: inline-block;
            padding: 8px 0 6px 10px;
            font-family: 'Abel', sans-serif;
            color: #fff;
            transition: color 0.3s ease;
            &:hover {color: #ccc;}
        }
    }
    .header_tit {
        margin: 55px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Abel', sans-serif;
        h1 {
            display: inline-block;
            padding: 5px 30px;
            font-size: 30px;
            font-weight: 900;
            letter-spacing: 2px;
            color: #fff;
            background: #51b0dc;
            transition: box-shadow 0.25s ease-in-out;
            &:hover {
                box-shadow: 
                    inset -9em 0 0 0 $color-main,
                    inset 9em 0 0 0 $color-main;
            }
        }
        a {
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background: #4a9abf;
            transition: box-shadow 0.25s ease-in-out;
            &:hover {
                box-shadow: 
                    0 0 0 5px $color-shadow inset,
                    0 0 0 100px rgba(0, 0, 0, 0.1) inset;
            }
        }
    }
    .header_icon {
        text-align: center;
        margin-top: 40px;
        padding-bottom: 45px;
        li {
            display: inline;
            margin: 0 2px;
            a {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                font-size: 35px;
                line-height: 60px;
                color: #fff;
                background-color: $color-main;
                transition: all 0.3s ease;
                &:hover {
                    box-shadow: 
                        0 0 0 3px $color-shadow inset,
                        0 0 0 100px rgba(0, 0, 0, 0.1) inset;;
                    span {
                        opacity: 1;
                        top: -33px;
                    }
                }
                span {
                    opacity: 0;
                    position: absolute;
                    padding: 3px 9px;
                    top: -40px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 6px 0;
                    font-size: 12px;
                    line-height: 1.6;
                    background: $color-main;
                    transition: all 0.3s ease;
                    &:before {
                        content: '';
                        position: absolute;
                        margin-left: -5px;
                        left: 50%;
                        bottom: -5px;
                        border-top: 5px solid $color-main;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                    }
                }
            }
        }
    }
    @include res-600px {
        height: auto;
        .header_tit {display: none;}
        .header_icon {display: none;}
    }
}

/* entire menu */
.nav {
    display: none;
    overflow: hidden;
    padding: 25px 0;
    & > div {
        float: left;
        width: 40%;
        h3 {
            margin-bottom: 4px;
            font-size: 18px;
            font-weight: bold;
            color: $color-main;
        }
        ol {
            overflow: hidden;
            li {
                position: relative;
                float: left;
                box-sizing: border-box;
                padding-left: 8px;
                width: 50%;
                &:before {
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: 0;
                    width: 3px;
                    height: 3px;
                    background-color: $color-main;
                }
                a {
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 1px;
                        background: $color-main;
                        transition: all .2s ease-out;
                    }
                }
                &:hover a:after {width: 100%;}
            }
        }
        &:last-child {
            width: 20%;
            li {width: 100%;}
        }
        @include res-960px {
            float: none;
            width: 100%;
            ol {
                margin-bottom: 10px;
                li {width: 33.3333%;}
            }
            &:last-child {
                width: 100%;
                li {width: 33.3333%;}
            }
        }
        @include res-600px {
            ol li {width: 50%;}
            &:last-child li {width: 50%;}
        }
        @include res-320px {
            ol li {width: 100%;}
            &:last-child li {width: 100%;}
        }
    } 
}

/* title */
.title {
    position: relative;
    text-align: center;
    h2 {
        padding: 5px 0;
        font-family: 'Nanum Brush Script', cursive; 
        font-size: 39px; 
        color: $color-main;
    }
    .btn {
        position: absolute;
        top: 5px;
        right: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 35px;
        border-radius: 50%;
        color: #fff;
        background: $color-main;
        transition: all .3s ease;
        &:hover {
            box-shadow: 
                0 0 0 3px $color-shadow inset,
                0 0 0 100px rgba(0, 0, 0, 0.1) inset;
        }
    }
    @include res-1220px {
        .btn {right: 5px;}
    }
    @include res-600px {
        .btn {display: none;}
    }
}

/* contents */
.column {
    padding: 10px;
    border-bottom: $border_grey;
    &.col {
        &1 {}
        &2 {}
        &3 {border-bottom: 0;}
        &4 {}
        &5 {}
        &6 {border-bottom: 0;}
        &7 {}
        &8 {}
        &9 {border-bottom: 0;}
    }
    .col_tit {
        padding-bottom: 5px;
        font-size: 20px;
        color: $color-main;
    }
    .col_desc {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px dashed #dbdbdb;
        line-height: 18px;
        color: $color-subtext;
    }
    @include res-600px {
        &.col1 {
            padding: 0;
            border-bottom: 0;
            .col_tit {display: none;}
            .col_desc {display: none;}
            .menu {
                ul {
                    overflow: hidden;
                    li {
                        float: left;
                        box-sizing: border-box;
                        width: 33.3333%;
                        text-align: center;
                        border-right: $border_grey;
                        &:nth-child(3n) {border-right: 0;}
                        a {
                            color: #fff;
                            text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
                            &:hover {
                                box-shadow: none;
                                background: rgba($color-main, 0.5);
                            }
                            i {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        &.col2 {
            background: #fff;
        }
        &.col4 {
            border-top: $border_grey;
        }
    }
}

/* menu */
.menu {
    li {
        position: relative;
        a {
            display: block;
            padding: 10px;
            font-size: 16px;
            text-transform: uppercase;
            color: $color-subtext;
            border-bottom: $border_grey;
            transition: 
                box-shadow 0.34s ease,
                background 0.34s ease;
            &:hover {
                color: #fff;
                background: rgba($color-main, 0.7);
                box-shadow: inset 180px 0 0 0 $color-main;
            }
            i {
                position: absolute;
                top: 15px;
                right: 10px;
            }
        }
    }
}

/* notice1 */
.notice1 {
    position: relative;
    h5 {
        padding-bottom: 5px;
        font-size: 14px;
        color: $color-main;
    }
    ul {
        li {
            position: relative;
            margin-bottom: 5px;
            padding-left: 8px;
            @include one-line;
            &:before {
                content: '';
                position: absolute;
                top: 6px;
                left: 0;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: $color-main;
            }
        }
    }
    .more {
        position: absolute;
        top: 3px;
        right: 0;
        font-size: 10px;
        text-transform: uppercase;
        color: $color-subtext;
    }
}

/* notice2 */
.notice2 {
    position: relative;
    h5 {
        padding-bottom: 5px;
        font-size: 14px;
        color: $color-main;
    }
    ul {
        li {
            position: relative;
            margin-bottom: 5px;
            padding-left: 8px;
            @include n-line(2);
            &:before {
                content: '';
                position: absolute;
                top: 6px;
                left: 0;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: $color-main;
            }
        }
    }
    .more {
        position: absolute;
        top: 3px;
        right: 0;
        font-size: 10px;
        text-transform: uppercase;
        color: $color-subtext;
    }
}

/* blog1 */
.blog1 {
    img {width: 100%;}
    .img-retina {display: none;}
    @include res-img(1.5, 1.5dppx) {
        .img-normal {display: none;}
        .img-retina {display: initial;}
    }
}

/* blog2 */
.blog2 {
    .img-retina {
        background: url(../img/blog4_@1.jpg);
        background-size: cover;
        h5 {
            padding: 30px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
        }
        p {
            padding-top: 5px;
        }
    }
    @include res-img(2, 2dppx) {
        .img-retina {background-image: url(../img/blog4_@2.jpg);}
    }
    @include res-img(3, 3dppx) {
        .img-retina {background-image: url(../img/blog4_@3.jpg);}
    }
}